body {
    font-family: "helvetica", sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1{
    color:red;
}
button{
    background-color: #000000;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    height:50px;
    font-size:20px;
}

button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.unit{
    color:white;
    width:450px;
    background-color: teal;
    display: flex;
    flex-direction: column;
}